  .login-title{
    padding: 10px;
    margin: 5px;
    font-size: 30px;
  }
  .login-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
.login-link-1{
  margin-top: 15px;
  text-align: center;
}
.login-link{
  text-align: end;
  color: #43AFFF;
  text-decoration: none;
}
.login-link-2{
  color: #43AFFF;
  text-decoration: none;
}