  .login-title{
    padding: 10px;
    margin: 20px 0;
    font-size: 30px;
  }
  .login-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
.login-link-1{
  margin-top: 25px;
  text-align: center;
}
.login-link{
  text-align: end;
  color: #43AFFF;
  text-decoration: none;
}
.login-link-2{
  color: #43AFFF;
  text-decoration: none;
}
.login-card{
  width: 500px;
  background-color: white;
  height: 520px;
  margin: 25px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
padding: 10px;
}