.button{
  width: 102px;
  height: 40px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 16px/19px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: var(--unnamed-color-43afff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-43afff);
  margin-top: 15px;
  border-radius: 5px;
  
}