.logo-card{
  width: 100%;
padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.logos{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.title{
  font-size: x-large;
  padding-bottom: 40px;
}
img{
  width: 125px;
height: 40px;
}