.avatar{
  margin-right: 50px;
}
.applied-jobs{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.apply-link{
  color: white;
  font-size: larger;
  text-decoration: none;
}
.job-cards{
  display: grid;
  grid-template-columns: auto auto auto;
}
