.home{
  color: #000;; 
  font-size: x-large;
  margin-left: 10px 50px;
  font-size: 20px; 
  text-decoration: none;
}
.post{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Post-link{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.cards{
  display: grid;
grid-template-columns: auto auto auto;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: #fff;
}
.dialog{
  display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}
.appbar{
  background-color: white;
  color: rgb(60, 56, 56);
}
.avatar{
  text-transform: capitalize;
}