.home{
  color: #000;; 
  font-size: x-large;
  margin-left: 10px 50px;
  font-size: 20px; 
  text-decoration: none;
}
.post{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.cards{
  display: grid;
grid-template-columns: auto auto auto;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: #fff;
}