
.login-card{
  top: 160px;
  left: 442px;
  width: 557px;
  height: 427px;
  background: #ffffff 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px #557DA526;
  border-radius: 20px;
  opacity: 1;
  }
  .login-title{
    padding: 10px;
    margin: 5px;
    font-size: 30px;
  }
  .login-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  .input{
    margin: 10px 0;
    width: 497px;
    height: 35px;
    padding-left: 5px;
  }
  .login-btn{
color: #FFFFFF;
font-size: 20px;
width: 148px;
height: 46px;
background: var(--unnamed-color-43afff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-43afff);
background: #43AFFF 0% 0% no-repeat padding-box;
border: 1px solid #43AFFF;
border-radius: 5px;
margin: 10px;
  }
  .signup-para{
    font-size: medium;
    margin-top: 20px;
    text-align: center;
  }
  .reset-card{
    top: 160px;
left: 442px;
width: 557px;
height: 408px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 30px 36px #557DA526;
border-radius: 20px;
opacity: 1;
  }
  .reset-details{
    margin: 10px;
  }
  .btn-primary{
    color: #FFFFFF;
font-size: 20px;
width: 100px;
height: 46px;
background: var(--unnamed-color-43afff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-43afff);
background: #43AFFF 0% 0% no-repeat padding-box;
border: 1px solid #43AFFF;
border-radius: 5px;
margin: 10px;

  }